body {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  font-family: 'Rubik', sans-serif;
  background: #6A2E35;
  overflow: scroll;
  scroll-behavior: smooth;
}
  
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
  
.members-count{
  color: white;
}
.members-list{
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.messages {
  border: 5px solid #0000;
  padding: 15px;
  margin-bottom: 15px;
  color : #FEFED3;
}
  
.messages {
  flex-shrink: 3;
  overflow: auto;
}
  
.message {
  padding: 15px 0;
  margin: 15px;
  color: white;
  border: 0px solid #FEFED3;
  background-color:  #AF1B3F;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.753);
  overflow: hidden;
}
.message .member {
  display: inline-block;
  border: 0px solid #FEFED3;
  color: black;
  background : #AF1B3F;
  border-radius: 5px;
  margin : 5px;
}
  
.member {
  padding-right: 20px;
  position: relative;
}
  
.message-form {
  display: flex;
  flex-shrink: 1;
  margin-bottom: 25px;
  margin-top: auto;
}
.message-form__input {
  flex-grow: 1;
  border: 5px solid #0000;
  padding: 10px 15px;
  background : white;
  border: 2px solid white;
  border-radius: 25px;
  outline: none;
  transition: all .35s;
} 
  
.message-form__input:hover {
  border: 2px solid black;
}
  
input[type="text"] {
  font-family: 'Rubik', sans-serif;
  text-align: left;
  font-size: 15px;
}
  
button[type="submit"] {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
}
  
.message-form__button {
  margin: 10px;
  background: white;
  color: #AF1B3F;
  cursor: pointer;
  overflow: hidden;
  transition: all .35s;
  text-align: center;
  border: 2px solid white;
  border-radius: 5px;
  outline: none;
  min-height: 30px;
}
  
.message-form__button:hover{
  color: black;
  border: 2px solid black;
}
  
  
h1{
  color : white;
  font-size: 50px;
  display: inline;
  }
    
h2{
    color : white;
    font-size: 50px;
  }
  
.inline-div {
  display: block;
  text-align: center;
}
  
h4{
  color : white;
  font-size: 10px;
  display: inline-block;
  text-align: center;
  }
    
.info_panel {
  border-bottom: 1px dashed white;
  text-align: left;
  display:inline-block;
}

  