body {
    margin: 0;
}
  
.nav_bar {
    background-color: #64BB6A;
    overflow: hidden;
}
  
.nav_bar a {
    color: #FEFED3;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    float: right;
    display: block;  
    padding: 18px 20px;
}
  
.nav_bar a:hover {
    color: #37782C;
    background-color: #9FD983;    
}

.nav_bar .icon {
    display: none;
}
  
@media screen and (max-width: 600px) {
    .nav_bar a:not(:first-child) {}
    
}
  
@media screen and (max-width: 600px) {
    .nav_bar.responsive {position: relative;}
    
}
.nav_bar.responsive a {
    text-align: right;
    float: none;
    display: block;
}
